{% extends 'base.html' %}

{%block title %}Register{% endblock %}

{%block content %}
<div class="container">
	<div class="row">
		<div class="col-6 offset-3">
			<h1 class="text-center my-3">Register</h1>
			{% if is_user_registered == False %}
			<h3>Duplicate User Found!</h3>
			<p>A duplicate user has been found, user creation unsuccessful</p>
			{% else %}
			<h3>User Successfully Created!</h3>
			<p>The account for {{first_name}} {{last_name}} has been successfully created.</p>
			{% endif %}

			<form action="{% url 'todolist:register' %}" method="post">
				{% csrf_token %}

				<div class="mb-3">
					<label for="username">Username:</label>
					<input class="form-control" id="username" type="text" name="username" value="{{ username }}" maxlength="20" required>
				</div>

				<div class="mb-3">
					<label for="firstName">First Name:</label>
					<input class="form-control" id="firstName" type="text" name="firstName" value="{{ firstName }}" maxlength="40" required>
				</div>

				<div class="mb-3">
					<label for="lastName">Last Name:</label>
					<input class="form-control" id="lastName" type="text" name="lastName" value="{{ lastName }}" maxlength="40" required>
				</div>

				<div class="mb-3">
					<label for="email">Email:</label>
					<input class="form-control" id="email" type="email" name="email" value="{{ email }}" maxlength="50" required>
				</div>

				<div class="mb-3">
					<label for="password">Password:</label>
					<input class="form-control" id="password" type="password" name="password" value="{{ password }}" maxlength="20" required>
					{% if is_same_password == False %}
					<p class="text-danger">Password does not match</p>
					{% endif %}
				</div>

				<div class="mb-3">
					<label for="confirmPassword">Confirm Password:</label>
					<input class="form-control" id="confirmPassword" type="password" name="confirmPassword" value="{{ confirmPassword }}" maxlength="20" required>
				</div>

				<div class="text-center">
					<input class="btn btn-success" type="submit" value="Register">
				</div>

			</form>
		</div>
	</div>
</div>
{% endblock %}