{% extends 'base.html' %}

{%block title %} Update Profile {% endblock %}

{%block content %}
<div class="container">
	<div class="row">
		<div class="col-6 offset-3">
			<!-- {% if is_user_authenticated == False %}
				<h1>Invalid User Credentials</h1>
				<p>Check if the username and password is correct.</p>

			{% else %}
				<h1>User Password Successfully Updated!</h1>
				<p>The Password has been successfully updated!</p>

			{% endif %} -->
			
			<h1 class="text-center my-3">Update Profile</h1>

			<form action="{% url 'todolist:update_profile' %}" method="post">
				{% csrf_token %}

				<div class="mb-3">
					<label for="firstName">First Name:</label>
					<input class="form-control" id="firstName" type="text" name="firstName" value="{{ firstName }}" maxlength="20" required>
				</div>

				<div class="mb-3">
					<label for="lastName">Last Name:</label>
					<input class="form-control" id="lastName" type="text" name="lastName" value="{{ lastName }}" maxlength="20" required>
				</div>

				<div class="mb-3">
					<label for="password">Password:</label>
					<input class="form-control" id="password" type="password" name="password" value="{{ password }}" maxlength="20" required>
				</div>

				<div class="text-center">
					<input class="btn btn-success" type="submit" value="Update Profile">
				</div>

			</form>
		</div>
	</div>
</div>
{% endblock %}


